<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <servlet-class>caique.servlet.CadastroClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <servlet-class>caique.servlet.DeleteClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClienteServlet</servlet-name>
        <servlet-class>caique.servlet.EditarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesServlet</servlet-name>
        <servlet-class>caique.servlet.ListarClientesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <url-pattern>/CadastroClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <url-pattern>/DeleteClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClienteServlet</servlet-name>
        <url-pattern>/EditarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesServlet</servlet-name>
        <url-pattern>/ListarClientesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>cadastroCliente.jsp</welcome-file>
    </welcome-file-list>
</web-app>
